
<h1>Restaurants</h1>

<% if flash[:notice] %>
 <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p><%= link_to 'Add New Restaurant', new_restaurant_path %></p>

<% @restaurants.each do |restaurant| %>

<%= render 'single_restaurant', restaurant: restaurant %>
<%end%>
